:root {
  --bg-ivory: #fdfdf9; /* Ivory */
  --bg-lightgray: #e4e4e4; /* Light Grey */
  --blue: #0d698b; /* Blue Grotto */
  --blue-dark: #030322; /* Dark Blue */
  --contrast-red: #e34234; /* Cinnabar */
}
