.content-container .content--wrapper {
  margin-top: 0;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}
.content-controller {
  padding: 20px;
  width: 80%;
  margin: 0 auto;
}
.content-img {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  padding: 0 20px;
}
.ciw {
  position: relative;
  padding: 16px;
  margin: 16px 0;
  background-color: var(--bg-lightgray);
  border-top: 5px #a09a9a solid;
}
.ciw .img-fluid {
  max-width: 100%;
}
