.header {
  display: block;
}
.header .header--menu span {
  display: block;
  width: 30px;
  height: 3px;
  background-color: var(--blue-dark);
}
.header .header--menu span:not(:last-child) {
  margin-bottom: 5px;
}

.header--wrapper a {
  text-decoration: none;
  margin-left: auto;
}

.navbar {
  font-family: 'Newsreader';
  padding: 0 24px;
  margin-bottom: 20px;
  border-bottom: 2px var(--dark) solid;
}

.navbar h1 {
  color: var(--dark);
  font-size: 4rem;
  margin: 0 auto;
  text-align: center;
}
